/* PPNeueMachina Font */
@font-face {
  font-family: PPNeueMachinaLight;
  src: url(../fonts/PPNeueMachina/PPNeueMachina-Light.otf);
}
@font-face {
  font-family: PPNeueMachina;
  src: url(../fonts/PPNeueMachina/PPNeueMachina-Regular.otf);
}
@font-face {
  font-family: PPNeueMachinaBold;
  src: url(../fonts/PPNeueMachina/PPNeueMachina-Bold.otf);
}
/* Declare a class which applies it */
.PPNeueMachinaLight {
  font-family: 'PPNeueMachinaLight';
}
.PPNeueMachina {
  font-family: 'PPNeueMachina';
}
.PPNeueMachinaBold {
  font-family: 'PPNeueMachinaBold';
}

/* Raleway Font */
@font-face {
  font-family: RalewayLight;
  src: url(../fonts/Raleway/Raleway-Light.ttf);
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
  font-family: RalewayMedium;
  src: url(../fonts/Raleway/Raleway-Medium.ttf);
}
@font-face {
  font-family: RalewayBold;
  src: url(../fonts/Raleway/Raleway-Bold.ttf);
}

/* Declare a class which applies it */
.RalewayLight {
  font-family: 'RalewayLight';
}
.Raleway {
  font-family: 'Raleway';
}
.RalewayMedium {
  font-family: 'RalewayMedium';
}
.RalewayBold {
  font-family: 'RalewayBold';
}

/* Inter Font */
@font-face {
  font-family: InterLight;
  src: url(../fonts/Inter/Inter-Light.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/Inter-Regular.ttf);
}
@font-face {
  font-family: InterBold;
  src: url(../fonts/Inter/Inter-Bold.ttf);
}

/* Declare a class which applies it */
.InterLight {
  font-family: 'InterLight';
}
.Inter {
  font-family: 'Inter';
}
.InterBold {
  font-family: 'InterBold';
}

/* SF Display Font */
@font-face {
  font-family: 'SFDisplay';
  font-weight: 400;
  src: url(../fonts/SFDisplay/SF-UI-Text-SemiBold.otf);
}
/* Declare a class which applies it */
.SFDisplay {
  font-family: 'SFDisplay';
}
