@import "./variables.scss";
@import "./mixins.scss";
@import "./fonts.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

* {
  font-family: "PPNeueMachina", Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  color: $mint-black;
  background: $mint-green;
  transition: color 0.5s, background-color 0.5s;

  font-family: "PPNeueMachina", Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;  
}

.bg-gradient {
  background-image: url("./brewtube.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto;
  @include breakpoint($break-md) {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 70%;
  }
  @include breakpoint($break-sm) {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 85%;
  }
  @include breakpoint($break-xs) {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto;
  }
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;  
  @include breakpoint($break-sm) {
    flex-flow: column wrap;
  }
  @include breakpoint($break-xs) {
    flex-flow: column wrap;
  }
}

a {
  color: $mint-black;
  transition: 0.4s;
  text-decoration: none;
}
