/* Mint Tea Colours */
$mint-green: #92FFD5;
$mint-blue: #3F68FF;
$mint-orange: #e47969;
$mint-pink: #FBE2FF;
$mint-yellow: #f7ff90;
$mint-black: #000000;

/* Greys, Blacks & Whites */
$black: #000000;
$grey-100: #101010;
$grey-90: #262626;
$grey-80: #525252;
$grey-70: #6f6f6f;
$grey-60: #8d8d8d;
$grey-50: #a8a8a8;
$grey-40: #c6c6c6;
$grey-30: #e0e0e0;
$grey-20: #f4f4f4;
$white: #ffffff;

/* Responsive Breakpoints */
$break-xs: 360px !default;
$break-xs: 479px !default;
$break-sm: 839px !default;
$break-md: 959px !default;
$break-lg: 1023px !default;
$break-xl: 1279px !default;
$break-xxl: 1439px !default;
$break-xxxl: 2872px !default;
